<div class="app">
  <div class="envelope-container" *ngIf="page >= 3 && !scorePage" [class.shake]="resultPage && roundMoney === 0" [class.receive]="resultPage && roundMoney > 0">
    <div class="envelope">
      <div class="envelope-body">
        <span class="envelope-amount">${{ totalMoney }}</span>
      </div>
    </div>
  </div>

  <div class="creds">
    <div style="display: flex; align-items: center">
      <a href="https://github.com/irisyann/cai-shen-ye" target="_blank" style="display: flex; align-items: center; margin: 5px;">
          <img src="./assets/github.svg" width="15" height="15" alt="">
          <span style="text-decoration: none; margin-left: 5px;">&#64;irisyann</span>
      </a>
      <span>wishes you gxfc :D</span>
    </div>

    <div>
      <a href="https://ko-fi.com/irisyann" target="_blank" class="kofi-button">give me angpao too 🧧👉🏽👈🏽</a>
    </div>
  </div>
  
  <main class="main">
    <img src="./assets/caishenye.jpg" class="gow-img" alt="God of wealth (财神爷)">
    <div>
      <app-dialog *ngIf="!resultPage && !scorePage" [dialog]="currentDialog" [page]="page" [showTextTranslation]="showTextTranslation" (optionSelect)="onOptionSelect($event)"></app-dialog>
      <div *ngIf="resultPage" class="result-section">
        <app-result-alert [result]="optionResult" [resultTranslation]="optionResultTranslation" [roundMoney]="roundMoney" [showTextTranslation]="showTextTranslation"></app-result-alert>
        <button class="action-button" (click)="goToNextPage()">Next ➡️</button>
      </div>
      <app-score *ngIf="scorePage" [totalMoney]="totalMoney" (resetPage)="onResetPage()"></app-score>
    </div>
  </main>
</div>

<router-outlet></router-outlet>
