/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
}

.app {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
    background-color: rgb(246, 246, 246);
}